  <footer>
    <div class="wrap flexWrap">
      <div class="footer-companyInfo">
        <dl class="complementaryList">
          <dt>{{ site.title }}</dt>
          <dd>{{ site.subtitle }}</dd>
        </dl>
        <ul class="footer-socialMedia">
          <li>
            <a href="#">Facebook</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">LinkedIn</a>
          </li>
        </ul>
      </div>
      <div class="footer-companyLocation">
        <dl class="complementaryList">
          <dt>{{ site.location }}</dt>
          <dd>{{ site.email }}</dd>
        </dl>
        <p class="footer-copyright">&copy; 2017 - 2020. Utilizza. Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>
</html>