<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }} - {{ site.subtitle }}</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&display=swap" rel="stylesheet">
  <link href="{{ root_url }}/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <a class="shortcut" href="#mainContent"><span>Ir para o conteúdo</span></a>

  <header role="banner">
    <div class="wrap flexWrap">
      <div class="header-logo">
        <img src="{{ root_url }}/images/utilizza-logo-novo.png" alt="Utilizza - Design de Interação">
      </div>

      <nav role="navigation" class="header-navigation">
        <ul>
          <li><a href="#contato" class="header-button">Entre em contato</a></li>
        </ul>
      </nav>
    </div>
  </header>