<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title + " - " + site.subtitle }}</title>
</head>
<body>
  <header role="banner">
    <div class="wrap">
      <div class="header-logo"></div>
      <nav class="header-navigation">
        <ul>
          <li><a href="#" class="header-linkText">Nosso blog no Medium</a></li>
          <li><a href="#" class="header-linkText">Contato</a></li>
          <li>
            <a href="#" class="header-linkImage" title="Página no Facebook"></a>
          </li>
          <li>
            <a href="#" class="header-linkImage" title="Perfil no Twitter"></a>
          </li>
          <li>
            <a href="#" class="header-linkImage" title="Página no LinkedIn"></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>