<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }} - {{ site.subtitle }}</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" media="screen" rel="stylesheet">
  <link href="{{ root_url }}/assets/css/style.css" media="screen" rel="stylesheet">
</head>
<body>
  <a class="shortcut" href="#mainContent"><span>Ir para o conteúdo</span></a>

  <header>
    <div class="wrap flexWrap">
      <div class="header-logo">
        <img src="{{ root_url }}/images/logo-utilizza-web.png" alt="Utilizza - Design de Interação">
      </div>
      <nav class="header-navigation">
        <ul>
          <li><a href="#" class="header-linkText">Nosso blog no Medium</a></li>
          <li>
            <a href="https://facebook.com/utilizza" class="header-linkImage" title="Página no Facebook">
              <span class="visuallyHidden">Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/utilizzaco" class="header-linkImage" title="Perfil no Twitter">
              <span class="visuallyHidden">Twitter</span>
            </a>
          </li>
          <li>
            <a href="#" class="header-linkImage" title="Página no LinkedIn">
              <span class="visuallyHidden">LinkedIn</span>
            </a>
          </li>
          <li><a href="mailto:contato@utilizza.co" class="header-linkText" title="Abre seu programa de e-mail">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>