$component: hero;

.#{$component} {
  box-sizing: border-box;
  padding: 3em 5em;
  height: 100%;
  background: #2A5752 linear-gradient(to bottom, #2A5752, #4FA49C) no-repeat;
  text-align: center;
}

.#{$component}-title,
.#{$component}-text {
  color: $inverse-color;
}

.#{$component}-title {
  font: $font-heavy 4.5rem $font-family;
}

.#{$component}-text {
  font-size: 1.5rem;
  font-weight: $font-light;
  line-height: 1.3em;
}

.#{$component}-button {
  @extend .button;
  color: $inverse-color;
  border-color: $inverse-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $inverse-color;
    color: $primary-color;
  }
}