$component: hero;

.#{$component} {
  box-sizing: border-box;
  padding: 3em 5em;
  height: 100%;
  background: #0098a4 url(../../images/bg-hero.png) no-repeat right -200px center;
  text-align: left;
  height: calc(100vh - 115px);
  display: flex;
  align-items: center;

  .wrap {
    box-sizing: border-box;
    padding-right: 150px;
  }
}

.#{$component}-title,
.#{$component}-text {
  color: $inverse-color;
}

.#{$component}-title {
  font: $font-heavy 4rem $font-family;
  line-height: 1.2em;
}

.#{$component}-text {
  font-size: 1.5rem;
  font-weight: $font-light;
  line-height: 1.3em;
}

.#{$component}-button {
  @extend .button;
  color: $inverse-color;
  border-color: $inverse-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $inverse-color;
    color: $primary-color;
  }
}