$component: services;
$singleComponent: serviceItem;

.#{$component} {
  background: $light-background-color;
  padding: 1em;
}

.#{$component}-title {
  @extend .sectionTitle;
}

.#{$component}-subtitle {
  @extend .sectionSubtitle;
}

.#{$component}-box {
  padding: 1em 0 1em 0;
}

.#{$component}-button {
  @extend .button;
  color: $primary-color;
  border-color: $primary-color;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary-color;
    color: $inverse-color;
  }
}

.#{$singleComponent} {
  padding: 1em;
  background: $inverse-color;
  border: 1px solid $border-color;
  font-size: 1.2rem;
  line-height: 1.5em;

  ul {

    li {
      padding: .75em 0 .75em 0;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.#{$singleComponent}-title,
.#{$singleComponent}-description {
  text-align: left;
}

.#{$singleComponent}-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: $secondary-color;
}

@media (min-width: 800px) {

  .#{$component}-box {
    @include display-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .#{$singleComponent} {
    flex-grow: 1;
    flex-basis: 30%;
  }

  .#{$singleComponent}:not(:last-child) {
    margin-right: 1.5rem;
  }

}