$primary-color: #007F82;
$secondary-color: #0098a4;
$tertiary-color: #00C8D0;
$text-color: #232323;
$inverse-color: #FFFFFF;
$hero-color: #1c2833;
$light-background-color: #EBEBEB;
$border-color: #C5CAE9;
