$font-family: 'Source Sans Pro', Arial, sans-serif !default;
$font-light: 300;
$font-regular: 400;
$font-heavy: 900;

$line-height: 1.6em;

html, body {
  font: $font-regular 1rem $font-family;
  line-height: $line-height;
  color: $text-color;
}

.sectionTitle {
  font-size: 4rem;
  font-weight: $font-heavy;
  line-height: $line-height;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &:after {
    display: block;
    width: 3rem;
    border-bottom: 10px solid #00C8D0;
    content: " ";
    margin: 0;
  }
}

.sectionSubtitle {
  font-size: 2.5rem;
  font-weight: $font-heavy;
  line-height: $line-height;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}