$font-family: 'Lato', Arial, sans-serif !default;
$font-light: 300;
$font-regular: 400;
$font-heavy: 900;

$line-height: 1.6em;

html, body {
  font: $font-regular 1rem $font-family;
  line-height: $line-height;
}